:root {
  --primary-font: "Karla", "Helvetica", sans-serif;
  --secondary-font: "DM Serif Display", "Georgia", serif;
  --primary-color: hsl(256, 26%, 20%);
  --secondary-color: hsl(0, 0%, 98%);
  --text-color: hsl(270, 9%, 17%);
  --light-color: hsl(0, 0%, 100%);
  --nav-item-color: hsl(0, 1%, 63%);
  --gray-color: hsl(0, 0%, 50%);
  --lightgray-color: hsl(0, 0%, 83%);
  --line-color: hsl(0, 1%, 62%);
  --footer-item-color: hsl(273, 4%, 51%);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
}

.header__mobile-menu-list,
.main,
.advantages,
.how-we-work__content,
.footer,
.footer__social-media,
.footer__content {
  position: relative;
}

.header__mobile-menu,
.header__mobile-menu-bg-pattern,
.main__bg-pattern-right,
.advantages__bg-pattern-left,
.advantages__family-pic,
.how-we-work__bg-pattern,
.footer__bg-pattern {
  position: absolute;
}

.header__burger-btn,
.header__exit-btn,
.header__mobile-menu,
.main__bg-pattern-left-mobile,
.main__bg-pattern-right-mobile {
  display: none;
}

.header,
.header__logo-wrapper,
.header__nav-list,
.header__mobile-menu-list,
.how-we-work__content,
.footer__social-media,
.social-media__list {
  display: flex;
  align-items: center;
}

.header,
.how-we-work__content,
.footer__social-media,
.footer__content {
  justify-content: space-between;
}

.header__nav-list,
.header__mobile-menu-list,
.advantages__list,
.social-media__list,
.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__nav,
.header__nav-item a,
.header__mobile-menu-item a,
.button,
.footer__item a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header__mobile-menu,
.header__mobile-menu-list,
.main__bg-pattern-right,
.button,
.footer__social-media,
.footer__line,
.footer__content {
  z-index: 2;
}

.header {
  padding: 2.5rem 9.375rem;
}

.header__nav {
  float: right;
}

.header__nav-list {
  gap: 2.5rem;
}

.header__nav-item a {
  letter-spacing: 0.1rem;
  color: var(--nav-item-color);
}

.header__nav-item:last-child a {
  padding: 0.75rem 1.875rem;
  color: var(--text-color);
  border: 0.125rem solid var(--text-color);
  transition: 0.3s ease-out;
}

.header__nav-item a:hover {
  color: var(--text-color);
}

.header__nav-item:last-child a:hover {
  color: var(--light-color);
  background-color: var(--text-color);
}

.header__burger-btn,
.header__exit-btn {
  width: 1.875rem;
  height: 1.875rem;
  border: none;
  background-size: cover;
  cursor: pointer;
}

.header__burger-btn {
  background-image: url("./assets/images/icon-hamburger.svg");
}

.header__exit-btn {
  background-image: url("./assets/images/icon-close.svg");
}

.header__mobile-menu {
  top: 5.625rem;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  padding: 3rem 0;
  box-sizing: border-box;
  background-color: var(--text-color);
}

.header__mobile-menu-list {
  flex-direction: column;
  gap: 1.875rem;
  text-align: center;
}

.header__mobile-menu-item:last-child {
  margin-top: 0.9375rem;
}

.header__mobile-menu-item a {
  letter-spacing: 0.125rem;
  color: var(--secondary-color);
}

.header__mobile-menu-item:last-child a {
  padding: 0.625rem 4.375rem;
  border: 0.125rem solid var(--light-color);
}

.header__mobile-menu-bg-pattern {
  bottom: 0;
  left: 0;
  width: 100%;
}

.main {
  height: 37.5rem;
  background-color: var(--primary-color);
  overflow: hidden;
}

.main__bg-pattern-right {
  top: -5rem;
  right: 0;
}

.main__content {
  width: 40%;
  padding: 6.25rem 9.375rem;
}

.main__line {
  width: 25%;
  height: 0.0625rem;
  margin-bottom: 3.125rem;
  background-color: var(--lightgray-color);
}

.main__title {
  margin: 0;
  font: 400 4rem var(--secondary-font);
  line-height: 1;
  color: var(--light-color);
}

.main__description {
  margin: 1.875rem 0 3.125rem 0;
  line-height: 1.4rem;
  color: var(--lightgray-color);
}

.button {
  padding: 0.75rem 1.875rem;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
}

.button:hover {
  color: var(--primary-color);
  background-color: var(--light-color);
}

.button--white {
  color: var(--light-color);
  border: 0.125rem solid var(--light-color);
}

.advantages {
  height: 75rem;
}

.advantages__bg-pattern-left {
  top: -10.625rem;
}

.advantages__family-pic {
  top: -31.25rem;
  right: 6.25rem;
  width: 40%;
}

.advantages__content {
  padding: 15.625rem 9.375rem 6.25rem;
}

.advantages__line {
  width: 15%;
  height: 0.0625rem;
  margin-bottom: 3.125rem;
  background-color: var(--line-color);
}

.advantages__list {
  display: flex;
  gap: 2.5rem;
}

.advantages__item {
  width: 33%;
}

.advantages__title,
.advantages__item-title {
  font-family: var(--secondary-font);
  font-weight: 400;
}

.advantages__title {
  margin-bottom: 4.375rem;
  font-size: 4rem;
}

.advantages__item-title {
  font-size: 1.5rem;
}

.advantages__item-description {
  line-height: 1.6rem;
  color: var(--gray-color);
}

.how-we-work {
  height: 15.625rem;
  padding: 0 9.375rem;
}

.how-we-work__content {
  height: 100%;
  padding: 0 6.25rem;
  background-color: var(--primary-color);
}

.how-we-work__title {
  font: 400 3rem var(--secondary-font);
  line-height: 3rem;
  color: var(--light-color);
}

.how-we-work__bg-pattern {
  top: 0;
  right: 0;
  width: 27.1875rem;
}

.footer {
  padding-bottom: 4.0625rem;
  background-color: var(--secondary-color);
}

.footer__social-media {
  padding: 4.0625rem 9.375rem 1.875rem;
}

.social-media__list {
  gap: 0.9375rem;
}

.footer__social-media img:hover {
  filter: invert(1) brightness(0);
}

.footer__line {
  width: 79%;
  height: 0.0625rem;
  margin: 0 auto 3.125rem;
  background-color: var(--lightgray-color);
}

.footer__content {
  display: flex;
  padding: 0 21.875rem 0 9.375rem;
}

.footer__item {
  line-height: 2rem;
}

.footer__item:first-child {
  margin-bottom: 1.25rem;
}

.footer__item:first-child a {
  color: var(--footer-item-color);
}

.footer__item a {
  color: var(--text-color);
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__bg-pattern {
  top: 0;
}

@media screen and (min-width: 2000px) {
  .main__description {
    width: 60%;
  }

  .advantages__family-pic {
    width: 27%;
  }

  .advantages__item-description {
    width: 50%;
  }

  .footer__line {
    width: 88%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 2.5rem 5.625rem;
  }

  .header__nav-item a {
    font-size: 0.7rem;
  }

  .main {
    height: 31.25rem;
  }

  .main__bg-pattern-right {
    width: 20rem;
  }

  .main__content {
    padding: 4.375rem 5.625rem;
  }

  .main__title {
    font-size: 3rem;
  }

  .main__description {
    width: 80%;
    font-size: 0.875rem;
  }

  .button {
    font-size: 0.7rem;
  }

  .advantages__bg-pattern-left {
    top: -9.25rem;
    width: 10.625rem;
  }

  .advantages__family-pic {
    top: -25rem;
  }

  .advantages__content {
    padding: 15.625rem 5.625rem 6.25rem;
  }

  .advantages__title {
    font-size: 3rem;
  }

  .advantages__item-title {
    font-size: 1.3rem;
  }

  .advantages__item-description {
    font-size: 0.875rem;
  }

  .how-we-work {
    padding: 0 5.625rem;
  }

  .how-we-work__title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .footer__content {
    padding-right: 18.75rem;
  }

  .footer__item a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .main__bg-pattern-left-mobile,
  .main__bg-pattern-right-mobile {
    position: absolute;
  }

  .header__nav-list,
  .main__bg-pattern-right,
  .main__line,
  .advantages__bg-pattern-left {
    display: none;
  }

  .header__burger-btn,
  .main__bg-pattern-left-mobile,
  .main__bg-pattern-right-mobile,
  .advantages__family-pic {
    display: block;
  }

  .main,
  .main__content,
  .advantages__content,
  .how-we-work__content,
  .advantages__list,
  .footer__social-media,
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages,
  .how-we-work__content {
    height: auto;
  }

  .button,
  .advantages__item-description,
  .footer__item a {
    font-size: 1rem;
  }

  .main__content,
  .advantages__content,
  .how-we-work__content,
  .footer__list {
    text-align: center;
  }

  .main__content,
  .how-we-work__title {
    z-index: 1;
  }

  .header {
    padding: 1.875rem;
  }

  .main__bg-pattern-left-mobile {
    top: 0;
    left: 0;
    width: 11.25rem;
  }

  .main__bg-pattern-right-mobile {
    top: 21.875rem;
    right: 0;
  }

  .main {
    overflow: visible;
  }

  .main__content {
    width: auto;
    padding: 6.25rem 0;
  }

  .main__title {
    width: 100%;
    font-size: 2.7rem;
  }

  .main__description {
    width: 80%;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .advantages__family-pic {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    content: url("./assets/images/image-intro-mobile.jpg");
  }

  .advantages__content {
    padding: 9.375rem 0 0;
  }

  .advantages__line {
    width: 50%;
  }

  .advantages__title {
    margin-top: 0;
    font-size: 2.8rem;
  }

  .advantages__list {
    gap: 4rem;
  }

  .advantages__item {
    width: 80%;
  }

  .advantages__item-description:last-child {
    margin-bottom: 0;
  }

  .how-we-work {
    width: 90%;
    height: 100%;
    margin: 8.125rem auto;
    padding: 0;
  }

  .how-we-work__content {
    padding: 4.375rem 1.25rem;
  }

  .how-we-work__title {
    margin: 0 0 2.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .how-we-work__bg-pattern {
    width: 10.625rem;
    content: url("./assets/images/bg-pattern-how-we-work-mobile.svg");
  }

  .footer__social-media,
  .footer__content {
    gap: 2.5rem;
  }

  .footer {
    overflow: hidden;
  }

  .footer__line {
    margin: 3.125rem auto;
  }

  .footer__content {
    padding: 0;
  }

  .footer__bg-pattern {
    content: url("./assets/images/bg-pattern-footer-mobile.svg");
  }
}
