@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: hsl(256, 26%, 20%);
    --secondary-color: hsl(0, 0%, 98%);
    --text-color: hsl(270, 9%, 17%);
    --light-color: white;
    --primary-font: 'Karla', sans-serif;
    --secondary-font: 'DM Serif Display', serif;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: var(--primary-font);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    width: fit-content;
}

nav{
    float: right;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(160, 159, 159);
    letter-spacing: 0.1em;
}

nav ul li:last-child a{
    border: 2px solid var(--text-color);
    padding: 12px 30px;
    color: var(--text-color);
    transition: 0.3s ease-out;
}

nav ul li a:hover{
    color: var(--text-color);
}

nav ul li:last-child a:hover{
    color: var(--light-color);
    background-color: var(--text-color);
    transition: 0.3s ease-out;
}

#burger-icon{
    background-image: url("./assets/images/icon-hamburger.svg");
}

#exit-icon{
    background-image: url("./assets/images/icon-close.svg");
}

#burger-icon,
#exit-icon{
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

#mobile-menu{
    position: absolute;
    top: 90px;
    left: 0;
    padding: 30px 0;
    background-color: var(--text-color);
    box-sizing: border-box;
    width: 100%;
    height: 87%;
    z-index: 2;
}

#mobile-menu ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    z-index: 2;
}

#mobile-menu ul li:last-child {
    margin-top: 15px;
}

#mobile-menu ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#mobile-menu ul li:last-child a{
    border: 2px solid var(--light-color);
    padding: 10px 70px;
}

#bg-pattern-mobile-nav{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

main{
    position: relative;
    height: 600px;
    background-color: var(--primary-color);
    overflow: hidden;
}

#burger-icon,
#exit-icon,
#mobile-menu,
#mobile-family-pic,
#bg-pattern-left-mobile,
#bg-pattern-right-mobile,
#bg-pattern-how-we-work-mobile,
#bg-pattern-footer-mobile{
    display: none;
}

#main-line{
    width: 25%;
    height: 1px;
    background-color: lightgray;
    margin-bottom: 50px;
}

main h1{
    position: relative;
    margin: 0;
    font: 400 4em var(--secondary-font);
    color: var(--light-color);
    line-height: 1;
    z-index: 1;
}

main p{
    margin: 30px 0 50px 0;
    color: lightgray;
    line-height: 1.4;
}

a.button{
    border: 2px solid var(--light-color);
    padding: 12px 30px;
    color: var(--light-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

a.button:hover{
    color: var(--primary-color);
    background-color: var(--light-color);
    transition: 0.3s ease-in-out;
}

#main-wrapper{
    width: 40%;
    padding: 100px 150px;
}

#bg-pattern-right,
#bg-pattern-left,
#family-pic{
    position: absolute;
}

#bg-pattern-right{
    top: -80px;
    right: 0;
    z-index: 2;
}

#bg-pattern-left{
    top: -170px;
}

#family-pic{
    width: 40%;
    top: -500px;
    right: 100px;
    z-index: 1;
}

#advantages{
    position: relative;
    height: 1200px;
}

#advantages-wrapper{
    padding: 250px 150px 100px;
}

#advantages-line{
    width: 15%;
    height: 1px;
    background-color: rgb(158, 157, 157);
    margin-bottom: 50px;
}

#advantages-wrapper ul{
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#advantages-wrapper ul li{
    width: 33%;
}

#advantages-wrapper h1, h3{
    font-family: var(--secondary-font);
    font-weight: 400;
}

#advantages-wrapper h1{
    margin-bottom: 70px;
    font-size: 4em;
}

#advantages-wrapper h3{
    font-size: 1.5em;
}

#advantages-wrapper p{
    color: gray;
    line-height: 1.6;
}

#how-we-work-wrapper{
    padding: 0 150px;
    height: 250px;
}

#how-we-work{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 100%;
    padding: 0 100px;
}

#how-we-work h2{
    font: 400 3em var(--secondary-font);
    color: var(--light-color);
    line-height: 1;
}

#how-we-work-btn{
    z-index: 2;
}

#bg-pattern-how-we-work{
    position: absolute;
    top: 0;
    right: 0;
    width: 435px;
    z-index: 1;
}

footer{
    position: relative;
    background-color: var(--secondary-color);
    padding-bottom: 65px;
}

footer ul{
    list-style-type: none;
}

#share-wrapper,
#big-line,
#footer-info-wrapper{
    position: relative;
    z-index: 2;
}

#share-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 65px 150px 30px;
}

#share-wrapper ul{
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

#share-wrapper img:hover{
    filter: invert(1) brightness(0);
}

#big-line{
    width: 77.8%;
    height: 1px;
    background-color: lightgray;
    margin: 0 auto 50px;
}

#footer-info-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 350px 0 150px;
}

#footer-info-wrapper ul{
    margin: 0;
    padding: 0;
}

#footer-info-wrapper ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bold;
}

#footer-info-wrapper ul li a:hover{
    text-decoration: underline;
}

#footer-info-wrapper ul li{
    line-height: 2;
}

#footer-info-wrapper ul li:first-child{
    margin-bottom: 20px;
}

#footer-info-wrapper ul li:first-child a{
    color: hsl(273, 4%, 51%);
}

#bg-pattern-footer{
    position: absolute;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 1024px){
    header{
        padding: 40px 90px;
    }

    nav ul li a{
        font-size: 0.7em;
    }

    #main-wrapper{
        position: relative;
        padding: 70px 90px;
        z-index: 2;
    }

    main{
        height: 500px;
    }

    main h1{
        font-size: 3em;
    }

    main p{
        width: 80%;
        font-size: 14px;
    }

    a.button{
        font-size: 0.7em;
    }

    #family-pic{
        top: -400px;
    }

    #bg-pattern-right{
        width: 320px;
    }

    #bg-pattern-left{
        top: -148px;
        width: 170px;
    }

    #advantages-wrapper{
        padding: 250px 90px 100px;
    }

    #advantages-wrapper h1{
        font-size: 3em;
    }

    #advantages-wrapper h3{
        font-size: 1.3em;
    }

    #advantages-wrapper p{
        font-size: 14px;
    }

    #how-we-work-wrapper{
        padding: 0 90px;
    }

    #how-we-work h2{
        font-size: 2em;
    }

    #footer-info-wrapper{
        padding-right: 300px;
    }

    #footer-info-wrapper ul li a{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 768px){
    header{
        padding: 30px;
    }

    nav,
    #family-pic,
    #bg-pattern-right,
    #bg-pattern-left,
    #main-line,
    #bg-pattern-how-we-work,
    #bg-pattern-footer{
        display: none;
    }

    #burger-icon,
    #mobile-family-pic,
    #bg-pattern-left-mobile,
    #bg-pattern-right-mobile,
    #bg-pattern-how-we-work-mobile,
    #bg-pattern-footer-mobile{
        display: block;
    }

    #bg-pattern-left-mobile,
    #bg-pattern-right-mobile,
    #bg-pattern-how-we-work-mobile,
    #bg-pattern-footer-mobile{
        position: absolute;
    }

    #mobile-family-pic{
        width: 100%;
    }

    #bg-pattern-left-mobile{
        width: 180px;
        left: 0;
    }

    #bg-pattern-right-mobile{
        top: 350px;
        right: 0;
    }

    #main-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: fit-content;
        padding: 100px 0;
        z-index: 2;
    }

    main{
        display: flex;
        justify-content: center;
        overflow: visible;
        z-index: 1;
    }

    main h1{
        width: 100%;
        font-size: 2.7em;
    }

    main p{
        width: 80%;
        font-size: 16px;
        line-height: 1.6;
    }

    a.button{
        position: relative;
        z-index: 2;
    }

    a.button,
    #advantages-wrapper p,
    #footer-info-wrapper ul li a{
        font-size: 16px;
    }

    #advantages{
        height: auto;
    }

    #advantages-line{
        width: 50%;
    }

    #advantages-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: fit-content;
        padding: 150px 0 0;
    }

    #advantages-wrapper h1{
        font-size: 2.8em;
        margin-top: 0;
    }

    #advantages-wrapper p:last-child{
        margin-bottom: 0;
    }

    #advantages-wrapper ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #advantages-wrapper ul li{
        width: 80%;
    }

    #how-we-work-wrapper{
        width: 90%;
        height: 100%;
        margin: 130px auto;
        padding: 0;
    }

    #how-we-work{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        overflow: hidden;
        padding: 70px 20px;
    }

    #how-we-work h2{
        margin: 0 0 40px;
        font-size: 2.5em;
        z-index: 2;
    }

    #bg-pattern-how-we-work-mobile{
        top: 0;
        right: 0;
        z-index: 1;
    }

    footer{
        overflow: hidden;
    }

    #bg-pattern-footer-mobile{
        top: 0;
        left: 0;
    }

    #share-wrapper, #footer-info-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    #big-line{
        margin: 50px auto;
    }

    #footer-info-wrapper{
        padding: 0;
    }

    #footer-info-wrapper ul{
        text-align: center;
    }
}