:root {
  --primary-font: "Karla", sans-serif;
  --secondary-font: "DM Serif Display", serif;
  --primary-color: hsl(256, 26%, 20%);
  --secondary-color: hsl(0, 0%, 98%);
  --text-color: hsl(270, 9%, 17%);
  --light-color: white;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--primary-font);
}

.header__burger-btn,
.header__exit-btn,
.header__mobile-menu,
.main__bg-pattern-left-mobile,
.main__bg-pattern-right-mobile {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 150px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
}

.header__nav {
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__nav-item a {
  text-decoration: none;
  color: rgb(160, 159, 159);
  letter-spacing: 0.1em;
}

.header__nav-item:last-child a {
  border: 2px solid var(--text-color);
  padding: 12px 30px;
  color: var(--text-color);
  transition: 0.3s ease-out;
}

.header__nav-item a:hover {
  color: var(--text-color);
}

.header__nav-item:last-child a:hover {
  color: var(--light-color);
  background-color: var(--text-color);
  transition: 0.3s ease-out;
}

.header__burger-btn {
  background-image: url("./assets/images/icon-hamburger.svg");
}

.header__exit-btn {
  background-image: url("./assets/images/icon-close.svg");
}

.header__burger-btn,
.header__exit-btn {
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.header__mobile-menu {
  position: absolute;
  top: 90px;
  left: 0;
  padding: 30px 0;
  background-color: var(--text-color);
  box-sizing: border-box;
  width: 100%;
  height: -webkit-fill-available;
  z-index: 2;
}

.header__mobile-menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  text-align: center;
  z-index: 2;
}

.header__mobile-menu-item:last-child {
  margin-top: 15px;
}

.header__mobile-menu-item a {
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__mobile-menu-item:last-child a {
  border: 2px solid var(--light-color);
  padding: 10px 70px;
}

.header__mobile-menu-bg-pattern {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.main {
  position: relative;
  height: 600px;
  background-color: var(--primary-color);
  overflow: hidden;
}

.main__line {
  width: 25%;
  height: 1px;
  background-color: lightgray;
  margin-bottom: 50px;
}

.main__title {
  position: relative;
  margin: 0;
  font: 400 4em var(--secondary-font);
  color: var(--light-color);
  line-height: 1;
  z-index: 1;
}

.main__description {
  margin: 30px 0 50px 0;
  color: lightgray;
  line-height: 1.4;
}

.button {
  padding: 12px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.button:hover {
  color: var(--primary-color);
  background-color: var(--light-color);
  transition: 0.3s ease-in-out;
}

.button--white {
  color: var(--light-color);
  border: 2px solid var(--light-color);
}

.main__content {
  width: 40%;
  padding: 100px 150px;
}

.main__bg-pattern-right,
.advantages__bg-pattern-left,
.advantages__family-pic {
  position: absolute;
}

.main__bg-pattern-right {
  top: -80px;
  right: 0;
  z-index: 2;
}

.advantages__bg-pattern-left {
  top: -170px;
}

.advantages__family-pic {
  width: 40%;
  top: -500px;
  right: 100px;
  z-index: 1;
}

.advantages {
  position: relative;
  height: 1200px;
}

.advantages__content{
  padding: 250px 150px 100px;
}

.advantages__line {
  width: 15%;
  height: 1px;
  background-color: rgb(158, 157, 157);
  margin-bottom: 50px;
}

.advantages__list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  width: 33%;
}

.advantages__title,
.advantages__item-title {
  font-family: var(--secondary-font);
  font-weight: 400;
}

.advantages__title {
  margin-bottom: 70px;
  font-size: 4em;
}

.advantages__item-title {
  font-size: 1.5em;
}

.advantages__item-description {
  color: gray;
  line-height: 1.6;
}

.advantages__how-we-work-wrapper {
  padding: 0 150px;
  height: 250px;
}

.how-we-work__content{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 100%;
  padding: 0 100px;
}

.how-we-work__title {
  font: 400 3em var(--secondary-font);
  color: var(--light-color);
  line-height: 1;
}

.how-we-work__bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 435px;
  z-index: 1;
}

.footer {
  position: relative;
  background-color: var(--secondary-color);
  padding-bottom: 65px;
}

.footer__list {
  list-style-type: none;
}

.footer__social-media,
.footer__line,
.footer__content {
  position: relative;
  z-index: 2;
}

.footer__social-media {
  display: flex;
  justify-content: space-between;
  padding: 65px 150px 30px;
}

.social-media__list {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-media img:hover {
  filter: invert(1) brightness(0);
}

.footer__line {
  width: 77.8%;
  height: 1px;
  background-color: lightgray;
  margin: 0 auto 50px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 0 350px 0 150px;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__item {
  line-height: 2;
}

.footer__item:first-child {
  margin-bottom: 20px;
}

.footer__item:first-child a {
  color: hsl(273, 4%, 51%);
}

.footer__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: bold;
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__bg-pattern {
  position: absolute;
  top: 0;
  z-index: 1;
  content: url('./assets/images/bg-pattern-footer-desktop.svg');
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 40px 90px;
  }

  .header__nav-item a {
    font-size: 0.7em;
  }

  .main {
    height: 500px;
  }

  .main__content {
    position: relative;
    padding: 70px 90px;
    z-index: 2;
  }

  .main__title {
    font-size: 3em;
  }

  .main__description {
    width: 80%;
    font-size: 14px;
  }

  .button {
    font-size: 0.7em;
  }

  .main__bg-pattern-right {
    width: 320px;
  }

  .advantages__bg-pattern-left {
    top: -148px;
    width: 170px;
  }

  .advantages__family-pic {
    top: -400px;
  }

  .advantages__content {
    padding: 250px 90px 100px;
  }

  .advantages__title {
    font-size: 3em;
  }

  .advantages__item-title {
    font-size: 1.3em;
  }

  .advantages__item-description {
    font-size: 14px;
  }

  .advantages__how-we-work-wrapper {
    padding: 0 90px;
  }

  .how-we-work__title {
    font-size: 2em;
  }

  .footer__content {
    padding-right: 300px;
  }

  .footer__item a {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 30px;
  }

  .header__nav-list,
  .main__bg-pattern-right,
  .advantages__bg-pattern-left,
  .main__line {
    display: none;
  }

  .header__burger-btn,
  .main__bg-pattern-left-mobile,
  .main__bg-pattern-right-mobile {
    display: block;
  }

  .main__bg-pattern-left-mobile,
  .main__bg-pattern-right-mobile {
    position: absolute;
  }

  .main__bg-pattern-left-mobile {
    width: 180px;
    left: 0;
  }

  .main__bg-pattern-right-mobile {
    top: 350px;
    right: 0;
  }

  .main {
    display: flex;
    justify-content: center;
    overflow: visible;
    z-index: 1;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 100px 0;
    z-index: 2;
  }

  .main__title {
    width: 100%;
    font-size: 2.7em;
  }

  .main__description {
    width: 80%;
    font-size: 16px;
    line-height: 1.6;
  }

  .button {
    position: relative;
    z-index: 2;
  }

  .button,
  .advantages__item-description,
  .footer__item a {
    font-size: 16px;
  }

  .advantages {
    height: auto;
  }

  .advantages__family-pic {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    content: url('./assets/images/image-intro-mobile.jpg');
  }

  .advantages__line {
    width: 50%;
  }

  .advantages__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 150px 0 0;
  }

  .advantages__title {
    font-size: 2.8em;
    margin-top: 0;
  }

  .advantages__item-description:last-child {
    margin-bottom: 0;
  }

  .advantages__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages__item {
    width: 80%;
  }

  .advantages__how-we-work-wrapper {
    width: 90%;
    height: 100%;
    margin: 130px auto;
    padding: 0;
  }

  .how-we-work__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    overflow: hidden;
    padding: 70px 20px;
  }

  .how-we-work__bg-pattern {
    width: 170px;
    content: url('./assets/images/bg-pattern-how-we-work-mobile.svg');
  }

  .how-we-work__title {
    margin: 0 0 40px;
    font-size: 2.5em;
    z-index: 2;
  }

  .footer {
    overflow: hidden;
  }

  .footer__bg-pattern {
    content: url('./assets/images/bg-pattern-footer-mobile.svg');
  }

  .footer__social-media,
  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footer__line {
    margin: 50px auto;
  }

  .footer__content {
    padding: 0;
  }

  .footer__list {
    text-align: center;
  }
}
